.createPoll{
    padding: .5rem;
}
.createPoll fieldset{
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.selectSet{
    display: flex;
    flex-flow: row nowrap;
    gap: .3rem;
}

.createPoll select {
    flex: 1;
    line-height: 1.5;
    padding: .4rem;
}

.cancel{    
    flex: 0 0 5%;
    background-image: url('../../icons/trash.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer; 
}

.cancel:hover{
    background-color: white;
    transition: 200ms ;
}

.createPoll .add{
    max-inline-size: 5rem;
    border: 0px;
    background-color: initial;
    color: white;
    cursor: pointer;
}

